
# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
venv/
.venv/

# Environnement
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log
ia/known_faces/*.jpg
ia/known_faces/*.jpeg
ia/known_faces/*.png
ia/known_faces/*.jpg
ia/known_faces/*.jpeg
ia/known_faces/*.png
infra/certs/*.key
infra/certs/*.srl
